/* --------------------
   Import statements
-------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: novela;
    src: url(/assets/novela-regular-webfont.woff);

}
@font-face {
    font-family: salome;
    src: url(/assets/salome-webfont.woff);

}

/* --------------------
   Colour palette :)
-------------------- */
:root{
    --red: #EE6F4A;
    --white: #F2EEEB;
    --black: #111111; /*optional colour lol*/
    --brown: #2B1D18;
}

/* --------------------
   Body
-------------------- */
body{
    background-color: var(--white);
    font-family: "Open Sans", sans-serif;
}

/* --------------------
   Nav bar
-------------------- */
.nav-bar{
    justify-items: center;
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: 3fr 0.5fr; 
    grid-template-areas: 
    "home projects";
    margin-top: 0;
    padding-top: 0;
    border:0;
}

#home {
    text-decoration: none;
    margin-left: 10px;
    grid-area: home;
    justify-self: start;
    align-self: center;
    font-family: salome;
    font-size: 20px;
    font-weight: 900;
    color: var(--red);

}
#projects, #contact {
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
    font-size: 15px;
    font-family: novela;
    font-weight: 600;
    color: var(--black);
    border:0;
    transition-duration: 0.4s;

}

#projects{
    justify-self: start; 
    grid-area: projects;
    align-self: stretch;
    padding: 5px;
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#projects:hover{
    background-color: black;
    color: var(--white);

}

#contact {
    justify-self: end; 
    grid-area: projects;
    align-self: stretch; 
    padding: 5px;

    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

#contact:hover{
    background-color: black;
    color: var(--white);

}
/* --------------------
   Header text
-------------------- */
.header-text h1{
    font-size: 120px;
    font-family: novela;
    font-weight: 800;
    text-align: start;
    margin-top: 0;
    margin-bottom: 0;
}
/* .header-text h1 span{
    color: var(--red);
} */
.pronounce-text h3{
    margin-top: 0;
    margin-bottom: 0;
    color: var(--brown);
    opacity: 50%;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;

}

.noun-text{
    justify-items: start;
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: 1.5fr 3fr; 
    gap:10px;
    grid-template-areas: 
    "text line";
    margin-top: 0;
    padding-top: 0;

}

.noun-text p{
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    grid-area: text;
}

.noun-text hr{
    justify-self: start;
    margin-right: 1000000px;
    align-self: center;
    border:0;
    border: 1px solid black;
    width: 1790px;

    grid-area: line;
}

.wtang-resume{
    color: var(--white);
    font-size: 15px;
    font-weight: 700;
    width: 200px;
    height: 44px;
    border-radius: 32px;
    margin-top: 30px;
    border:none;
    background-color: black;
    transition-duration: 0.4s;
}

.wtang-resume:hover{
    color: var(--white);
    background-color: var(--red);
    border: 1px solid var(--red);
}

